/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 ago 2026, 10:17:30
    Author     : informatica
*/

.etiqueta{
    -fx-font-size: 16px; 
}
.campo{
    -fx-border-color: #1D1980;
    -fx-border-width: 2px;
    -fx-background-color:white;
    -fx-text-fill: #1D11980;
    -fx-border-radius: 15px;
}
.link{
    -fx-font-size: 19px;
    -fx-font-family:"IMPACT";
    -fx-text-fill: #FF7F27;
}

.link:hover{
    -fx-text-fill: #0f0;
}

.link:pressed{
    -fx-text-fill: #f00;
}
#btn-login{
    -fx-font-size: 19px;
        -fx-background-color:#B239C4;
    -fx-border-color: #036aa;
    -fx-font-weight:bold;
    -fx-font-family:"IMPACT";
    -fx-text-fill: white;
        -fx-border-radius: 8px;
            -fx-background-radius: 10px;

}

#btn-login:hover{
        -fx-background-color: #319ea7;
        -fx-border-color: #2f367c;

}

#btn-login:pressed{
        -fx-background-color: black;
-fx-border-color: #2f3c92;

}